<h2>Takes the 'idle' out of idle simulation games.</h2>
<big>
	<ul>
		<li>Become a programmer!</li>
		<li>Learn real-life Node.js skills!</li>
		<li>Grow your business from a small freelance agency to a full company with multi-million dollar contracts.</li>
		<li>FREE (for now)</li>
	</ul>
</big>
<script src="https://auth.turbio.repl.co/script.js" authed="location.href = '/'"></script>