<h2>Welcome {{name}}!</h2>
<button onclick="window.location.href = '/?mode=new'">New Game</button>
<button onclick="window.location.href = '/?mode=load'">Load Game</button>
<button onclick="window.location.href = '/settings'">Settings and App Data</button>
<hr />
<small>User #{{id}}</small>